@import url("https://use.typekit.net/fuh7nqx.css");

*{  
    margin: 0;
    padding: 0;
    font-family: sofia-pro ,sans-serif;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
}
a{
    color:#3e3e3e;
}
/*-----------------------------------Animation (called later in css)-----------------------------------*/

@keyframes load-in {
	 0% {
		 transform: scale(0);
	}
	 25% {
		 transform: scale(1.2);
	}
	 50% {
		 transform: scale(1);
	}
	 75% {
		 transform: scale(1.2);
	}
	 100% {
		 transform: scale(1);
    }
}
/*-----------------------------------Animation (called later in css)[END]----------------------------------*/

/*-----------------------------------Main navigation-----------------------------------*/
.logo{
    width: auto;
    height: auto;
    margin: 5px;
}
.logo h1{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.4rem 0rem;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    background-color: white;
}
.main-nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: relative;
}
.main-nav li{
    list-style: none;
}
.main-nav li:hover{
    text-decoration: underline;
    transition: 0.3s ease;
}
.main-nav a{
    color: #3e3e3e;
    text-decoration: none;
    letter-spacing: 1 px;
    font-weight: 500;
    font-size: 16px;
}
.start-exploring-btn{
    text-decoration: none;
    padding: 0.5rem 1.1rem;
    border-color: #3e3e3e;
    background: #F22233;
    border-radius: 10px;;
    font-weight: 400;
    font-size: 1em;
    color: white;
    align-items: center;
    cursor: pointer;
}
.start-exploring-btn:hover{
    background: #3e3e3e;
    color:#ffffff;
    transition: 0.2s ease-in;
}
.explore-dd ul{
    position: absolute;
    display: none ;
    z-index: 1;
    color: white;
    border: 0.5px solid #3e3e3e;
}
.explore-dd ul li:hover{
    filter: invert();
    background: white;
    cursor: pointer;
    transition:ease-in 0.2s;
}
.explore-dd li{
    padding: 18px 10px;
}
.explore-dd:hover > ul{
    display:block;
    transition:ease-in 0.2s;
    background: white;
}
.explore-dd li a{
    font-weight: lighter;
    color: black;
    font-size: 0.9rem;
}
/*-----------------------------------Overlay-----------------------------------*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgb(253, 246, 246, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s; 
}
.overlay a:hover, .overlay a:focus {
    text-decoration: underline;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*Assistance on smaller screens - less than 450 pixels will update font size and close button to avoid overlap*/
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*-----------------------------------Overlay [END]-----------------------------------*/

/*-----------------------------------Main navigation [END]-----------------------------------*/

/*-----------------------------------Corona banner-----------------------------------*/
.corona-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F2B544;
    color: black;
    font-weight: 500;     
}
/*-----------------------------------Corona banner [END]-----------------------------------*/
/*-----------------------------------Contact Page-----------------------------------*/
.contact-section{
    width:100%;
}
.contact-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.contact-fill-section{
    width:45%;
}
.contact-header h2{
    font-weight: 500;
    padding-bottom: 15px;
    color: #C8332A;
    font-size: 2rem;
}
.contact-header p{
    color: #666666;
    width: 100%;
    padding:0 45px 10px 0;
}
.fill-zone{
    padding: 10px 0;
}
.contact-fill-zone h4{
    font-weight: 500;
    padding-bottom: 10px;
    color: #3e3e3e;
}
.name, .email, .message {
    background: #F4F6FC;
    width: 75%;
    height: 6vh;
    border-style: none;
    border-radius: 20px;
    padding-left: 10px;
}
.message{
    height: 18vh;
}
.submit{
    height:5vh;
    width:40%;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
    background: #F22233;
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    cursor: pointer;

}
.submit:hover{
    background: #3e3e3e;
    transition: 0.5s;
}

.contact-graphic-section{
    justify-content: center;
    width: 40%;
    text-align: center;
}
.contact-graphic img{
	 animation-name: load-in;
	 animation-duration: 700ms;
	 animation-delay: ;
	 animation-fill-mode: forwards;
}
.merlion{
    width: 75%;
    margin-bottom: 35px;
}
.contact-details{
    padding-left: 30%;
    align-items: center;
}
.location, .phone, .email2{
    display: flex;
    padding: 6px 0;
    color: #666666;
    align-items: center;
}
.contact-details img{
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------Contact Page [END]-----------------------------------*/

/*-----------------------------------Footer-----------------------------------*/
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAF1ED;
    height: 35vh;
    overflow: hidden;
}
.footer-holder{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer h3{
    font-weight: 600;
}
.social-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:5%;
    padding-left: 20px
}
.social-icons li{
    list-style: none;
    align-items: center;
    justify-content: center;
}
.social-icons img{
    width:60%
}
.social-icons img:hover{
    filter: invert();
    transition: 0.1s ease-in;
}   
.logo-footer{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    vertical-align: center;
    border-right: 1px solid;
}
.navigation-footer{
    display: flex;
    width:20%;
    justify-content: space-around;
    align-items: center;
}
.navigation-footer li, a{
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
}
.navigation-footer li:hover{
    text-decoration: underline;
}
.help-footer{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.help-footer li, a{
    list-style: none;
    text-decoration: none;
    padding: 5px 0;
}
.help-footer li:hover{
    text-decoration: underline;
}
.newsletter-footer{
    width:30%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0.5px solid;
}
.newsletter-footer p{
    padding: 5px 5px;
    font-weight: lighter;
    color:#3e3e3e;
}
.newsletter-footer img{
    width: 8%;
}
.email-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.email{
    height: 5vh;
    border-style: none;
    padding-left: 5px;
}
.nl-signup{
    height: 5vh;
    width:10vh;
    border-style: none;
    background: #FF5D5D;
    color: white;
    cursor: pointer;
}
.nl-signup:hover{
    transition: 0.2s ease-in;
    background: #3e3e3e;
    color:white;
}
/*-----------------------------------Footer end-----------------------------------*/














